.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    height: 80px;
    background-color: lightblue;
}
.col{
    border: 1px solid black;
    flex: 1;
}
.col-2{
    flex: 2;
    border: 1px solid black;

}
.col-3{
    flex: 3;
    border: 1px solid black;
}